# Node.js dependencies
node_modules/

# TypeScript output
dist/

# Prisma generated client and migrations and files
prisma/migrations/
prisma/client/
generated*


# Environment variables
.env

# Logs and cache
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache

# OS-specific files
.DS_Store
Thumbs.db

# Editor & IDE settings
.idea/
.vscode/
*.swp